.cds-imageBorderClassName-i1kn5cfm.cds-imageBorderClassName-i1kn5cfm{border-color:var(--secondary);border-width:1px}.cds-iconBorderClassName-i1ydqo2q.cds-iconBorderClassName-i1ydqo2q{border-width:2px}
