@layer cds{.scrollContainerCss-s19l7spv{-webkit-scrollbar-width:none;-moz-scrollbar-width:none;-ms-scrollbar-width:none;scrollbar-width:none}.scrollContainerCss-s19l7spv::-webkit-scrollbar{display:none}}
