@layer cds{.baseCss-bt1rln1{margin:0}.subtitleCss-sve89pn{overflow:auto;text-overflow:unset;white-space:normal}.titleCss-t166a7nm{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;min-width:0}}
